.Article {
  background:#fff;
  padding:140px 0;
  font-size:18px;
}

.Article-body {
  margin-left: 8em;
  margin-right: 8em;
}

.Article-footer {
  border-top:1px solid var(border);
  border-bottom:1px solid var(border);
  padding-top:1.5em;
  padding-bottom:1.5em;
  margin-top:1.5em;
  margin-bottom:1.5em;
}

.Article-header {
  margin-bottom:2em;
}

.Article-header::after {
  content:" ";
  display:block;
  width:1.5em;
  height:0.2em;
  background:#ddd;
  margin:1em 0;
}

.Article h1,
.Article h2,
.Article h3,
.Article h4,
.Article h5 {
    color:#263c4c;
}

.Article h1,
.Article h2 {
  font-family: var(display-font);
}

.Article p {
  line-height:1.4;
  font-weight:400;
  margin:0 0 1.5em;
}

.Article ol,
.Article ul {
  font-weight: 600;
  margin: 1.5em 0;
  padding: 0;
  list-style-position: outside;
  padding-left: 1.5em;
}

.Article li {
  font-weight:400;
  margin-bottom:0.5em;
}

.Article blockquote {
  border:0;
  font-size:24px;
  margin:1.2em -4em 1.2em 0;
  padding:0;
}

.Article blockquote p {
  font-size:30px;
  line-height:1.1;
  color:$accent;
  font-weight:600;
}

.Article h1 {
  font-weight:600;
  font-size:2.1em;
  margin:0.5em 0 1em;
}

.Article h2 {
  font-size:1.5em;
  margin:0.5em 0 1em;
  font-weight:600;
}

.Article h3 {
  font-size:1.3em;
  font-weight:600;
}

.Article h4 {
  font-size:1.2em;
  font-weight:600;
}

.Article hr {
  margin:3em 0;
}

.Article img {
  max-width:100%;
  margin:1em 0;
}

.Article-meta {
  color:$textmuted;
  font-size:13px;
  text-transform:uppercase;
  margin-bottom:0.3em;
  font-weight:400;
  letter-spacing:1px;
}

.Article-meta time,
.Article-meta address {
  display:inline;
  font-size:13px;
}

.Article-meta a {
  border:0;
  color:$textmuted;
}

.Article-title {
  margin:0.2em 0;
  font-weight:bold;
  letter-spacing: -1px;
}

.Article-title a {
  border:0;
}

.Article-subtitle {
  font-size: 1.4em;
  margin: 0.2em 0;
  color: var(muted-text);
  font-weight: 300;
}

.Article-highlight {
  border:0;
}

.Article-highlight .lineno {
  color: var(muted-text);
}

.Article-content pre {
  border: 0;
  padding: 1.5em 3em;
  margin: 3em -3em 4em -3em;
  background: whitesmoke;
  border: 0;
  border-radius: 2px;
  border-bottom:1px solid #eee;
  width:100%;
  font-size:0.8em;
  overflow-x: auto;
  display:block;
}

.Article-content pre code {
  font-size:0.8em;
  border:0;
}

.Article-content code {
  border-bottom:1px solid #ddd;
  border-radius:2px;
  color:#222;
}
