:root {
  var-body-font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  var-display-font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  var-text-color: #21272d;
  var-muted-text: #848484;
  var-accent: #2077b2;
  var-dark-accent: #1F77B2;
  var-border: #ddd;
}

body {
  margin:0;
  padding:0;
  font-family: var(body-font);
  color: var(text-color);
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizelegibility;
  font-size:17px;
}

a {
  color: var(accent);
  text-decoration:none;
  transition:all 0.2s ease;
}

a:hover {
  color: var(dark-accent);
  text-decoration:none;
}

.container {
  max-width: 820px;
  margin:0 auto;
}