.Bio {
  text-align: center;
  color: #848484;
  font-size: 21px;
  line-height: 1.4;
  font-family: 'Droid Serif';
  font-style: italic;
}

.Bio-avatar {
  margin:0 0 1.5em;
}

.Bio-links {
  margin-top: 1.5em;
}

.Bio-links a {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  background-size: contain;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  vertical-align: top;
  opacity: 0.5;
}

.Bio-links a:hover {
  opacity: 1;
}

.Bio-links .twitter {
  background-image: url(images/twitter.svg);
}

.Bio-links .github {
  background-image: url(images/github.svg);
  margin-top: -2px;
}

@media (min-width: 850px) {
  .Bio {
    font-size: 14px;
    text-align: right;
  }
  .Bio-links a {
    height: 20px;
    width: 20px;
  }
}