.ArticleIndex {
  padding-top: 100px;
  padding-bottom: 150px;
  width: 35em;
  padding-left: 170px;
  margin: 0 auto;
}

.ArticleIndex-aside {
  width: 170px;
  position: fixed;
  margin-left: -170px;
}

.ArticleIndex-content {
  overflow: hidden;
  padding-left: 75px;
}